<div class="sidebar">
    <div class="sidebar-about">
      <script src="https://kit.fontawesome.com/dd5f00e900.js" crossorigin="anonymous"></script>
      <center><img src="../images/MarenzJulian_LBS.jpg" alt="photo_julianmarenz" width="260" height=auto style="margin-bottom:15px;"></center> 
      <h1>
        <a href="{{ "/" | relative_url }}">
          <center>{{ site.title }}</center>
        </a>
      </h1>
      <p class="lead" style="margin-top:10px;margin-bottom:25px;">PhD Student in Economics at <br>London Business School</p>
      <a href="mailto:jmarenz@london.edu"><i class="fa-solid fa-envelope fa-lg"></i></a>
      <a href="https://twitter.com/JulianMarenz" target="_blank"><i class="fa-brands fa-twitter fa-lg"></i></a> 
      <a href="https://www.linkedin.com/in/julian-marenz-9768201a9/" target="_blank"><i class="fa-brands fa-linkedin fa-lg"></i></a>
      <a href="https://github.com/julianmarenz" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>
    </div>
    <hr style="height:1px; width:30%; margin-top:15px; margin-bottom:10px">
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ "/" | relative_url }}">Home</a>
      <a class="sidebar-nav-item" href="../Research">Research</a>
      <a class="sidebar-nav-item" href="../Vita">Vita</a>
      <a class="sidebar-nav-item" href="../Places">Places</a>
    </nav>
</div>
